<script src="{{ "/js/places_transition.js" | prepend: site.baseurl }}"></script>

<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/hero.jpg');">
    {% include navigation.html %}
    <div class="places">
      <div class="place estacao-da-luz">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/EstacaoDaLuz.svg" title="Estação da Luz" alt="Estação da Luz" class="main-img">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-left">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-left">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-right">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-right">
        </div>
      </div>

      <div class="place catedral-da-se">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/CatedraldaSe.svg" title="Catedral da Sé" alt="Catedral da Sé" class="main-img">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-left">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-left">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-right">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-right">
        </div>
      </div>

      <div class="place masp">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/Masp.svg" title="Masp" alt="Masp" class="main-img">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-left">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-left">
          <img src="{{ site.baseurl }}/img/svg/arvore1.svg" class="arvore arvore1-right">
          <img src="{{ site.baseurl }}/img/svg/arvore2.svg" class="arvore arvore2-right">
        </div>
      </div>

      <div class="place ponte-estaiada">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/PonteEstaiada.svg" title="Ponte Estaiada" alt="Ponte Estaiada" class="main-img">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{{ button.url }}" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
