.partners  {
    h5 {
       margin-top: 30px;
    }
    .list-inline {
        margin-bottom: 65px;
        li {
            width: 16%;
            min-width: 210px;
            max-width: 250px;
            margin: 13px 7px;
            @media (max-width: 767px) {
                width: 40%;
                min-width: 120px;
                max-width: 160px;


            }

            &.big {
                width: 50%;
                min-width: 300px;
                max-width: 450px;
                @media (max-width: 767px) {
                    min-width: 40%;
                    width: 40%;
                    min-width: 180px;
                    max-width: 200px;
                }
            }

            &.small {
                width: 50%;
                min-width: 120px;
                max-width: 120px;
                @media (max-width: 767px) {
                    min-width: 40%;
                    width: 40%;
                    min-width: 100px;
                    max-width: 100px;
                }
            }


        }
    }
    img {
        width: 100%;
        transition: $base-transition;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
    }

}